@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<section class="content">
    <div class="error-page" style="margin-top:64px;">
        <h4 class="headline text-yellow"> 401</h4>
        <div class="error-content">
            <h4 class="text-danger"><i class="fa fa-lock text-yellow"></i> Chức năng hạn chế truy cập.</h4>
            <br />
            <p>Cảnh báo! Bạn đang truy vào chức năng hạn chế quyền truy cập.</p>
            <p>Bạn vui lòng liên hệ ban quản trị để được hỗ trợ hoặc <a href="/Home/">click vào đây</a> để về trang chính.</p>
        </div><!-- /.error-content -->
    </div><!-- /.error-page -->
</section>

