@{
    ViewBag.Title = "Danh mục ghe";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        &nbsp;
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border text-red">
            <i class="fa fa-list-alt"></i>
            <h4 class="box-title text-bold">Danh sách ghe</h4>
        </div><!-- /.box-header -->
        <div class="box-body form-inline">
            <div class="form-group">
                <input id="input-filter" type="text" placeholder="Nhập từ khóa tra cứu..." class="form-control" style="width:200px;" />
                <input id="btn-search" type="button" value="Tra cứu" class="btn btn-success" />
            </div>
        </div>
        <div class="box-body box-boats"></div><!-- /.box-products -->
        <div class="box-body box-boats-footer"></div><!-- /.box-paging -->
        <div style="height:24px;"></div>
    </div>
</section>
<!-- /. Main content -->
@section Styles {
    @Styles.Render("~/Content/bootstrap-dialog")
}

@section Scripts {
    @Scripts.Render("~/Bundles/bootstrap-dialog")

    <script>

        // Global vars
        var g_page_index = 1;
        var g_page_total = 1;

        // Load page complete
        $(document).ready(function () {
            showLoadingStatus();
            ajaxLoadBoats(g_page_index);

            $("#btn-search").click(function () {
                g_page_index = 1;
                ajaxLoadBoats(g_page_index);
            });
        })

        // Ajax to load & display boat list
        function ajaxLoadBoats(pageIndex) {
            var filter = $("#input-filter").val();
            $.ajax({
                url: '/Boat/GetBoats/?filter=' + filter + '&pageIndex=' + pageIndex,
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.Error == 0) {
                        // update global page index value
                        g_page_index = data.PageIndex;
                        g_page_total = data.PageTotal;

                        // show boats list
                        showBoatsList(
                            data.Boats,
                            data.BoatsCount,
                            data.PageIndex,
                            data.PageSize,
                            data.PageTotal);
                    }
                    else {
                        $(".box-boats").html("<span class='text-danger'>Lỗi " + data.Message + "</span>");
                    }
                },
                error: function (xhr) {
                    $(".box-boats").html("<span class='text-danger'>Lỗi " + xhr.responseText + "</span>");
                }
            });

            return false;
        }



        // Navigate to next produtcs page
        function goToNextPage() {
            if (g_page_index < g_page_total) {
                g_page_index++;
                ajaxLoadBoats(g_page_index);
            }
            return false;
        }



        // Navigate to previous produtcs page
        function goToPrevPage() {
            if (g_page_index > 1) {
                g_page_index--;
                ajaxLoadBoats(g_page_index);
            }
            return false;
        }



        // Function to show ajax loading status
        function showLoadingStatus() {
            var container = $(".box-boats");
            var html = '';
            html += '            <i class="fa fa-refresh fa-spin text-green"></i>\r\n';
            html += '            <span class="text-green" style="margin-left:4px;">Đang nạp danh sách ghe...</span>\r\n';
            $(container).html(html);
        }



        // Function to show boats list
        function showBoatsList(boats, boatsCount, pageIndex, pageSize, pageTotal) {
            var container = $(".box-boats");
            var container_footer = $(".box-boats-footer");
            var html = '';
            var html_footer = '';
            var startNum = (pageIndex - 1) * pageSize;

            // Generate boats list table html
            html += '    <table class="table table-bordered table-nonfluid" style="min-width:500px;">\r\n';
            html += '        <tbody>\r\n';
            html += '            <tr class="bg-yellow">\r\n';
            html += '               <th class="text-nowrap text-center">#</th>\r\n';
            html += '                <th class="text-nowrap">Số ghe</th>\r\n';
            html += '                <th class="text-nowrap">Chủ ghe</th>\r\n';
            html += '                <th class="text-nowrap">Khối ghe</th>\r\n';
            html += '                <th class="text-nowrap">Thao tác</th>\r\n';
            html += '            </tr>\r\n';
            $.each(boats, function (index, element) {
                startNum++;
                html += '            <tr class="barges-row-item">\r\n';
                html += '                <td class=" text-center">' + startNum + '</td>\r\n';
                html += '                <td>' + element.BoatCode + '</td>\r\n';
                html += '                <td>' + element.BoatOwner + '</td>\r\n';
                html += '                <td class=" text-right">' + element.BoatVolume + '</td>\r\n';
                html += '                <td>\r\n';
                html += '                    <a href="/Boat/Edit/' + element.BoatId + '" class="btn btn-xs btn-success">Sửa</a>\r\n';
                html += '                    <a href="#" class="btn btn-xs btn-danger" onclick="return ajaxDeleteBoat(' + element.BoatId + ', \'' + element.BoatCode + '\', $(this).parent().parent())">Xóa</a>\r\n';
                html += '                </td>\r\n';
                html += '            </tr>\r\n';
            })

            // generate paging row
            if (pageTotal > 1) {
                html += '            <tr class="barges-row-item">\r\n';
                html += '                <td colspan="5">\r\n';
                html += '                    <ul class="pagination pagination-sm no-margin inline pull-right">\r\n';
                html += '                        <li><a href="#" onclick="return goToPrevPage()">«</a></li>\r\n';
                for (var i = 1; i <= pageTotal; i++) {
                    if (i == g_page_index) {
                        html += '                       <li><a href="#" onclick="return false;" class="text-blue">' + i + '</a></li>\r\n';
                    } else {
                        html += '                       <li><a href="#" onclick="return ajaxLoadBoats(' + i + ')">' + i + '</a></li>\r\n';
                    }
                }
                html += '                        <li><a href="#" onclick="return goToNextPage()">»</a></li>\r\n';
                html += '                    </ul>\r\n';
                html += '                </td>\r\n';
                html += '            </tr>\r\n';
                html += '       </tbody>\r\n';
                html += '    </table>\r\n';
            }

            $(container).html(html);

            // generate footer
            if (boatsCount > 0) {
                html_footer += '        Tổng cộng: <span class="text-red">' + boatsCount + '</span>';
            }
            else {
                html_footer += '        <span class="text-danger">Không có thông tin ghe nào!</span>';
            }
            $(container_footer).html(html_footer);
        }


        // Function to delete a boat
        function ajaxDeleteBoat(boatCode, boatOwner, element) {
            // show confirmed dialog
            BootstrapDialog.show({
                message: 'Bạn có muốn xóa ghe [' + boatOwner + '] không?',
                buttons: [{
                    label: 'Xóa ghe',
                    cssClass: 'btn-danger btn-sm',
                    action: function (dialog) {
                        $.ajax({
                            url: '/Boat/Delete/' + boatCode,
                            type: 'POST',
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                if (data.Error == 0) {
                                    BootstrapDialog.show({
                                        title: "Xóa thông tin ghe",
                                        message: data.Message,
                                        buttons: [{
                                            label: "Đóng",
                                            cssClass: "btn-primary btn-sm",
                                            action: function (dialog) {
                                                dialog.close();
                                            }
                                        }]
                                    });

                                    // remove deleted row
                                    $(element).remove();
                                }
                                else {
                                    BootstrapDialog.show({
                                        title: "Lỗi xóa thông tin ghe",
                                        message: data.Message,
                                        buttons: [{
                                            label: "Đóng",
                                            cssClass: "btn-primary btn-sm",
                                            action: function (dialog) {
                                                dialog.close();
                                            }
                                        }]
                                    });
                                }
                            },
                            error: function (xhr) {
                                BootstrapDialog.show({
                                    title: "Lỗi xóa thông tin ghe",
                                    message: xhr.responseText,
                                    buttons: [{
                                        label: "Đóng",
                                        cssClass: "btn-primary btn-sm",
                                        action: function (dialog) {
                                            dialog.close();
                                        }
                                    }]
                                });
                            }
                        });
                        dialog.close();
                    }
                }, {
                    label: 'Không xóa',
                    cssClass: 'btn-primary btn-sm',
                    action: function (dialog) {
                        dialog.close();
                    }
                }]
            });
            return false;
        }

    </script>
}

